doctype html
html
  head
    title Dashboard
    link(rel="stylesheet", href="/resources/css/style.css")

  body
    header
      h1 Welcome, #{username}!
    nav
      a(href="/video/dashboard/all") All
      |  |
      a(href="/video/dashboard/music") Music
      |  |
      a(href="/video/dashboard/sports") Sports
      |  |
      a(href="/video/dashboard/news") News
      |  |
      a(href="/video/new_video") Upload New Video
      |  |
      a(href="/logout") Logout
    main
      h2 #{filterLabel} Videos
      if videos.length
        .video-list
          each video in videos
            .video-card
              h3= video.title
              p Category: #{video.category}
              p Uploader: #{video.uploader}
              iframe(
              width="560"
              height="315"
              src=`https://www.youtube.com/embed/${video.youtubeId}`
              frameborder="0"
              allowfullscreen
)


                source(src=video.url, type="video/mp4")
      else
        p No videos uploaded yet.
